# shellcheck shell=bash
export NIXPKGS_ALLOW_UNFREE=1

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi
use flake

if ! [ -f go.mod ]; then
  local default_packages
  default_packages=(
    "github.com/rotisserie/eris"
  )

  read -p 'Module path (e.g. github.com/username/repo): ' module_path
  go mod init "$module_path"
  for pkg in "${default_packages[@]}"; do
    go get "$pkg"
  done
fi

if ! [ -d .git ]; then
  git init
  git add .
  git commit -m "init"
fi
