dist/
.direnv/
.DS_Store
*.log
node_modules/
.env
*.env
!.env.local
!.env.example
!.env.*.local
!.env.*.example
!*.env.local
!*.env.example
.task/

# Random artifacts that might accidentally get committed
/result
/nix
/sesh

target/

# Test coverage
coverage.out
coverage.html
